.custom404Screen {
  padding: 20% 5% 5%;
}

.errorCodeAndMsg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorCode {
  border-right: 1px solid rgba(85, 85, 85, 0.25);
  padding: 0.8rem 1.5rem 0.8rem 0;
  font-family: 'Aganè', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 2.0rem;
  color: var(--emerald-800);
}

.errorMsg {
  margin-left: 1.5rem;
  font-family: 'Aganè', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--greybrown-700);
}

.explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--grey-800);
}

.explanation p {
  max-width: 33rem;
}

.explanation .link {
  color: var(--seafoam-500);
}

.explanation .link:hover {
  text-decoration: underline;
}


@media (min-width: 500px) {
  .custom404Screen {
    padding-top: 15%;
  }

  .errorCode {
    padding: 1rem 1.8rem 1rem 0;
    font-size: 2.2rem;
  }

  .errorMsg {
    margin-left: 1.8rem;
    font-size: 1.8rem;
  }

  .explanation {
    font-size: 1.75rem;
    line-height: 1.75;
  }

  .explanation p {
    max-width: 56rem;
  }
}
