.footer {
  width: 100%;
  padding: 2rem 2rem 3rem;
  border-top: 1px solid var(--grey-300);
  background-color: var(--grey-100);
  color: var(--grey-800);
  opacity: 0.7;
}

.footerContent {
  max-width: var(--max-content-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyrightWord {
  display: none;
}

.socialmedia a {
  margin: 0 0.6rem;
  transition: all 150ms ease-in-out;
  color: var(--greybrown-700)
}

.socialmedia a:hover {
  color: var(--seafoam-400);
  filter: drop-shadow(2px 2px 6px var(--eggplant-800));
  filter: drop-shadow(1px 1px 1px var(--eggplant-300));
  transition: all 150ms ease-in-out;
}


@media (min-width: 500px) {
  .footer {
    padding: 4rem 4rem 5rem;
  }

  .copyrightWord {
    display: inline;
  }

  .socialmedia a {
    margin: 0 1rem;
  }
}
