.layoutContainer::before {
  content: '';
  position: fixed;
  /* The z-index of the .layoutContainer below is
     effectively 0, so a negative value here puts
     this image behind that. */
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-image: url('/hugo-barbosa-TnG2q8FtXsg-unsplash.jpg');
  background-size: cover;
  background-position: center right;
  filter: brightness(110%) contrast(90%) blur(1px);
}

.layoutContainer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: absolute;
  z-index: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #d0d1d2;
}
