.header {
  width: 100%;
  padding: 3rem 2rem 2rem;
}

.navbar {
  max-width: var(--max-content-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homelink {
  flex: 1 0 auto;
}

.monogram {
  height: 24px;
  color: var(--seafoam-800);
  opacity: 0.75;
  transition: all 350ms cubic-bezier(0.77, 0, 0.73, 1.95);
}

.monogram:hover {
  transform: scale(1.125);
  color: var(--seafoam-400);
  opacity: 100%;
  filter: drop-shadow(1px 1px 1px var(--aqua-100)) drop-shadow(1px 1px 5px var(--aqua-500));
  transition: all 350ms cubic-bezier(0.77, 0, 0.73, 1.95);
}

.otherlinks {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-around;
  color: var(--greybrown-500);
  font-size: 1.25rem;
  font-family: 'Aganè';
  font-weight: 300;
}

.otherlink {
  margin: 0 0.5rem;
  transition: all 150ms ease-in-out;
}

.otherlink:hover {
  transform: scale(1.04);
  color: var(--seafoam-400);
  text-shadow: 1px 1px 1px var(--aqua-100),
               2px 2px 2.5px var(--aqua-500);
  transition: all 150ms ease-in-out;
}


@media (min-width: 500px) {
  .header {
    padding: 4rem 2rem 5rem;
  }

  .navbar {
    align-items: flex-end;
  }

  .monogram {
    height: 32px;
  }

  .otherlinks {
    font-size: 1.45rem;
  }

  .otherlink {
    margin: 0 1rem;
  }
}
