.portfolioScreen {
  max-width: var(--max-content-width);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4.75rem;
  font-family: 'Junge', serif;
  color: var(--emerald-800);
}

.description {
  margin: 1.5rem;
  max-width: 60rem;
  line-height: 1.2;
  font-family: 'Aganè';
  font-weight: 300;
  font-size: 1.8rem;
  color: var(--greybrown-700);
}

.worksList {
  display: grid;
  row-gap: 1.5rem;
  padding: 2rem;
}

.workCard {
  padding: 1.25rem;
  border: 1px solid var(--emerald-400);
  border-radius: 8px;
  transition: all 150ms ease-in-out;
}

.workCard:hover,
.workCard:focus,
.workCard:active {
  border-color: var(--aqua-100);
  transform: scale(1.015);
  box-shadow: 3px 7px 18px 2px var(--aqua-400);
  transition: all 150ms ease-in-out;
}

.workCard h2 {
  margin: 0 0 1rem 0;
  font-family: 'Aganè';
  font-weight: 700;
  font-size: 2.2rem;
  color: var(--emerald-800);
}

.workCard p {
  margin: 0;
  line-height: 1.5;
  font-family: 'Junge', serif;
  font-size: 1.5rem;
  color: var(--greybrown-800);
}


@media (min-width: 500px) {
  .worksList {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: minmax(10rem, auto);
    gap: 2rem;
    padding: 4rem 2rem;
  }
}
