/*
 * substrateScreen.module.css -- derived from index.css, the main CSS stylesheet
 *                               for the Substrate.js web page.
 *
 * This file contains the CSS styles for the SubstrateScreen React component.
 *
 * Copyright © 2021 Harry H. Toigo II
 *
 * This file is part of Substrate.js.
 *
 * Substrate.js is free software: you can redistribute it and / or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Substrate.js is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Cabinet Calc.If not, see < https://www.gnu.org/licenses/>.
 */

.substrateScreen {
  background-color: var(--sandstone-200);
  max-width: var(--max-content-width);
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  padding: 4rem 3rem;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Spartan, sans-serif;
}

.title {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: var(--greybrown-800);
  text-shadow: 0px 0px 5px var(--greybrown-600);
}

.subtitle {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: var(--grey-500);
}

.subtitle span {
  margin: 0 1rem;
}

.description {
  font-family: Cairo, serif;
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--greybrown-800);
  text-align: justify;
}

.description a {
  color: var(--eggplant-800);
}

.description a:hover {
  text-decoration: underline;
}

.instructions {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: var(--grey-500);
  text-align: center;
}

.instructions span {
  margin-left: 1rem;
  margin-right: 1rem;
}

.canvasWrapper {
  border: 1px solid var(--grey-500);
  box-shadow: 0 0 8px var(--greybrown-500);
}


@media (min-width: 500px) {
  .substrateScreen {
    padding: 6rem 4rem;
  }

  .title {
    font-size: 2.4rem;
  }

  .subtitle {
    margin-top: 2rem;
    font-size: 1.6rem;
  }

  .subtitle span {
    margin: 0rem 1.5rem;
  }

  .description {
    font-size: 1.45rem;
  }

  .instructions {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 1.45rem;
  }

  .instructions span {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
